*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 30px;
  /*background-color: #FFFD38;*/
}

@font-face {
    font-family: 'GT Sectra';
    src: url('../fonts/GT-Sectra-Book.otf') format('opentype'),
         url('../fonts/GT-Sectra-Book.otf') format('truetype'),
         url('../fonts/GT-Sectra-Book.woff') format('woff'),
         url('../fonts/GT-Sectra-Book.eot');
    font-style: normal;
}

/*@font-face {
    font-family: 'GT Sectra';
    src: url('../fonts/GT-Sectra-Book-Italic.otf') format('opentype'),
         url('../fonts/GT-Sectra-Book-Italic.otf') format('truetype'),
         url('../fonts/GT-Sectra-Book-Italic.woff') format('woff'),
         url('../fonts/GT-Sectra-Book-Italic.eot');
    font-style: italic, oblique;
    font-weight:
}*/

.sans{
  font-family: Arial, sans-serif;
  font-style: normal;
}

.serif{
  font-family: 'GT Sectra', sans-serif;
  font-style: normal;
  letter-spacing: -0.05em;
}


/* SIDEBARS ------------------------------------------------------------------*/

.sidebar{
  position: fixed;
  height: 100%;
  width: 20px;
  overflow: scroll;
}
.sidebar-left{
  left: -580px;
  background-color: #51B151;
  width: 600px;
  z-index: 50;
}
.sidebar-right{
  right: 0;
  background-color: #716995;
}
.sidebar-close{
  background: url(../assets/x.svg);
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.sidebar-text{
  font-size: 1.5em;
  padding: 20px 100px 20px 20px;
}
.sidebar-text p:not(:first-child){
  text-indent: 0.7em;
}
.sidebar-text p span{
  border-bottom: 2px solid #000;
}


/* MENU  ---------------------------------------------------------------------*/

.menu-butt{
  top: 20px;
  right: 45px;
  position: absolute;
  font-size: 1em;
}
.menu-butt:hover{
  cursor: pointer;
  -moz-transform: scaleX(-1);    /* Gecko */
  -o-transform: scaleX(-1);      /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1);         /* Standard */
  filter: FlipH;
}
#menu-close{
  top: 20px;
  right: 45px;
  position: absolute;
  font-size: 1em;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}
#menu-close:hover{
  cursor: pointer;
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: FlipH;
}
.menu{
  height: 100vh;
  width: 100vw;
  background-color: #CCCCCC;
  z-index: 100;
  text-align: center;
  position: fixed;
  display: none;
}
.menu ol li a{
  display: inline;
  box-shadow: inset 0 -0.3em white;
  margin-bottom: 10px;
  font-size: 3em;
  text-align: center;
}
.menu ol li a:hover{
  box-shadow: inset 0 0 0 #fff;
  cursor: pointer;
}
.menu ol{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menu ol br{
  height: 10px;
}

/* PURPLE INFO ---------------------------------------------------------------*/

.purple{
  width: 100vw;
  height: 100vh;
  padding: 30px 50px;
  overflow: scroll;
  position: fixed;
  background-color: #716995;

  display: none;
  z-index: 1000;
}
.info-container{
  width: 70vw;
}
.info-title{
  font-size: 3em;
}
.info-text, .info-container ol li{
  font-size: 1.5em;
  list-style-type: none;
}
.info-text a{
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #000;
}
.info-text a:hover{
  border-bottom: 0;
  cursor: pointer;
}


/* SEARCH AREA ---------------------------------------------------------------*/

.search-container{
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 25vh;
}

.search-input-section{
  top: 22.5vh;
  padding-top: 25vh;
  padding: 0 60px;
}
.title-text{
  text-align: center;
}
.title-text-main{
  font-size: 60px;
  line-height: 60px;
}
.title-text-main span{
  font-size: 0.5em;
  letter-spacing: -1px;
}
.title-text-underline{
  border-bottom: 2px solid #000;
}

.search-bar-container{
  margin-top: 60px;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}
input{

}
input[type=text], input[type=text]:focus{
  border: none;
  box-shadow: 0;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  height: 44px;
  width: 450px;
  padding: 8px 10px;
  outline: none;
  font-size: 1.1em;
}

input[type=submit]{
  height: 39px;
  float: right;
  margin-top: 22px;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 0;
  font-size: 1.2em;
  border-bottom: 2px solid #000;
}
input[type=submit]:hover{
  border-bottom: 0;
}
input[type=submit]:focus{
  outline: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
   background-color: #fff;
}
.upper{
  text-transform: uppercase;
}

.percentage{
  min-width: 56px;
}

.terms{
  width: 500px;
  margin: 230px auto 0 auto;
  font-size: 1em;
  /*display: none;*/
}

.results-container{
  display: none;
  margin-top: 80px;
  padding: 0 50px;
}
.results-container p{
  font-size: 1.5em;
}
.results-container p span{
  font-size: 1em;
}
.results-records{
  padding-left: 110px;
}
.results-answer-box{
  padding-left: 220px;
}
.result-topic{
  border-bottom: 2px solid #000;
}
.result-topic:hover{
  border-bottom: 0;
  cursor: pointer;
}

@media screen and (max-width: 650px) {

  .sidebar-left{
      width: 100%;
      left: calc(-90% - 20px);
  }
  .menu ol li a{
    font-size: 1.5em;
  }
  .purple{
    padding: 30px 10px;
  }
  .info-container{
    width: 100%;
  }
  .info-title {
      font-size: 2em;
  }
  .info-text {
    font-size: 1em;
  }
  input[type=text], input[type=text]:focus {
    width: 70vw;
    font-size: 0.9em;
  }
  input[type=submit] {
    font-size: .9em;
  }
  .title-text-main {
    font-size: 40px;
    line-height: 40px;
  }
  .results-records {
    padding-left: 40px;
  }
  .results-answer-box {
    padding-left: 80px;
  }
  .results-container p {
    font-size: 1em;
  }
  .terms {
    width: 100%;
    margin: 100px auto 0 auto;
    font-size: .5em;
  }


}
